<div class="form-actions">
  <h1>Add a child</h1>

  <p>Use the form below to add a child:</p>
</div>

<%= form_for(@child) do |f| %>

  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being added:</h2>

      <ul>
      <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :age, class: 'control-label' %>
       <div class="controls">
      <%= f.text_field :age %>
    </div>
  </div>

  <br>

  <div class="form-actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>

  <br>

  <br>

  <div>
    <%= link_to 'Back', children_path %>
  </div>

<% end %>
